<h1>Angular Router</h1>
<nav>
  <a routerLink="/interpolation" routerLinkActive="active">Interpolation</a>
  <br>
  <a routerLink="/pipe" routerLinkActive="active">Pipe</a>
  <br>
  <a routerLink="/property-binding" routerLinkActive="active">Property Binding</a>
  <br>
  <a routerLink="/event-binding" routerLinkActive="active">Event Binding</a>
  <br>
  <a routerLink="/two-way-binding" routerLinkActive="active">Two Way Binding</a>
  <br>
  <a routerLink="/input-output" routerLinkActive="active">@Input/@Output(EventEmitter)</a>
  <br>
  <a routerLink="/if" routerLinkActive="active">*ngIf</a>
  <br>
  <a routerLink="/for" routerLinkActive="active">*ngFor</a>
  <br>
  <a routerLink="/api" routerLinkActive="active">API</a>
  <br>
  <a routerLink="/form-control" routerLinkActive="active">Form Control</a>
</nav>
<router-outlet></router-outlet>
